body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./fonts/Inter/Inter-VariableFont_slnt,wght.ttf) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'AllCaps';
  /* src: local('Ysabeau_SC'), url(./fonts/Ysabeau_SC/YsabeauSC-VariableFont_wght.ttf) format('woff'); */
  src: local('Alegreya_Sans_SC'), url(./fonts/Alegreya_Sans_SC/AlegreyaSansSC-Regular.ttf) format('woff');

  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'Jost';
  /* src: local('Ysabeau_SC'), url(./fonts/Ysabeau_SC/YsabeauSC-VariableFont_wght.ttf) format('woff'); */
  src: local('Jost'), url(./fonts/Jost/Jost-VariableFont_wght.ttf) format('woff');

  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'Barlow';
  /* src: local('Ysabeau_SC'), url(./fonts/Ysabeau_SC/YsabeauSC-VariableFont_wght.ttf) format('woff'); */
  src: local('Barlow_Semi_Condensed'), url(./fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Bold.ttf) format('woff');

  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}